.transactionHistoryList {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 250px;
}

table {
  text-align: center;
  border-collapse: collapse;
}

td,
tr,
th {
  border: 1px solid #212121;
}

thead {
  background-color: #474747;
  color: white;
}

td {
  text-align: start;
  padding-left: 10%;
}

tr:nth-child(even) {
  background-color: lightgray;
}
